* {
  margin: 0 0;
  padding: 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper-primary {
  background-color: white;
  border-bottom: solid;
  border-color: gainsboro;
  min-width: 1000px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 169.625px;
      grid-template-columns: 1fr 1fr 1fr 169.625px;
  z-index: 100;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  height: 60px;
}

.nav-bar__function {
  display: -ms-grid;
  display: grid;
}

.nav-bar__logo {
  margin: auto 0;
  width: 100px;
}

.nav-bar__search {
  width: 250px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 200px;
}

.nav-bar__search__searchBox {
  background-color: gainsboro;
  color: dimgray;
  border-radius: 12px;
  border-style: none;
  width: 100%;
  height: 40px;
  min-width: 125px;
}

.nav-bar__menu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 50px;
}

.nav-bar__menu__icon {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  gap: 63px;
}

.main {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  width: 423px;
  margin-left: 60px;
}

.main__scrollbar {
  margin: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto;
  gap: 15px;
  overflow: scroll;
  width: 100%;
  border-radius: 12px;
  border-style: solid;
  border-color: gainsboro;
  padding: 10px 10px;
  margin-top: 0;
}

.main__scrollbar__scrollbar-item {
  width: 60px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__card {
  border-radius: 12px;
  border-style: solid;
  border-color: gainsboro;
}

.main__card__profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 258.91px;
      grid-template-columns: auto auto 258.91px;
  gap: 15px;
  margin: 5px 5px;
}

.main__card__profile__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__card__profile__container__pic {
  width: 50px;
  height: 50px;
}

.main__card__container {
  width: 420px;
  height: 400px;
}

.main__card__container__hero {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0%;
}

.main__card__interaction {
  border-bottom: solid;
  border-color: gainsboro;
}

.main__card__interaction__one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 10px;
}

.main__card__interaction__one__two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 15px;
}

.main__card__comment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 10px;
}

.main__card__comment__one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  gap: 5px;
}

.main__card__comment__one__textbox {
  border: none;
}

.main__card__comment__two {
  margin: auto 0;
}

.sidebar {
  display: -ms-grid;
  display: grid;
  gap: 25px;
  width: 394px;
  margin-right: 60px;
  margin-top: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sidebar__domination {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 280px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sidebar__domination__profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 15px;
}

.sidebar__domination__profile__img {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__domination__profile__name {
  margin: auto 0;
}

.sidebar__domination__btn {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__suggestion {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  width: 280px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sidebar__suggestion__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.sidebar__suggestion__item__head {
  margin: auto 0;
}

.sidebar__suggestion__item__head__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 10px;
}

.sidebar__suggestion__item__head__container__img {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__suggestion__item__head__container__img__raw {
  width: 40px;
  height: 40px;
}

.sidebar__suggestion__item__head__container__name {
  margin: auto 0;
}

.sidebar__suggestion__item__tail {
  margin: auto 0;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

button {
  font-size: 25px;
  background-color: white;
  border: none;
}

.link-btn {
  font-size: 15px;
  color: #0095f6;
  font-weight: bold;
}

.black-link {
  color: black;
}

h4 {
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
}

label {
  display: block;
}
/*# sourceMappingURL=grid.css.map */